//@import 'basics/_body-element'
@import 'tools/vars'
@import 'bourbon'
@import 'neat'
@import 'basics/forms'
@import 'basics/example-buttons'
@import 'basics/footer'
@import 'tools/normalize'

/* Box-sizing border-box */
*
*:before
*:after
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box

body
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF

.lucia
	display: flex
	border: 10px solid $purple
	height: 100vh
	flex-direction: row

.maria
	margin: 0 auto
	padding-left: 30px
	padding-right: 30px
	width: 960px
	background: $lightpink


h1, h3, h4, h5, p
	margin-bottom: 22px

.box
	color: white
	font-size: 100px
	text-align: center
	text-shadow: 4px 4px 0 rgba(0,0,0,0.1)
	padding: 10px

.box1
	background-color: #F44336
.box2
	background-color: #E91E63
.box3
	background-color: #9C27B0
.box4
	background-color: #673AB7
.box5
	background-color: #3F51B5
.box6
	background-color: #2196F3
.box7
	background-color: #03A9F4
.box8
	background-color: #00BCD4
.box9
	background-color: #009688
.box10
	background-color: #4CAF50




