//@import 'basics/_body-element'
@import 'tools/vars'
@import 'bourbon'
@import 'neat'
@import 'basics/forms'
@import 'basics/example-buttons'
@import 'basics/footer'
@import 'tools/normalize'

/* Box-sizing border-box */
*
*:before
*:after
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box

body
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF

// .lucia
// 	display: flex
// 	border: 10px solid $purple
// 	height: 100vh
// 	flex-direction: row

.maria
	margin: 0 auto
	padding-left: 30px
	padding-right: 30px
	width: 960px

h1, h3, h4, h5, p
	margin-bottom: 22px

// .box
// 	color: white
// 	font-size: 100px
// 	text-align: center
// 	text-shadow: 4px 4px 0 rgba(0,0,0,0.1)
// 	padding: 10px

// .box1
// 	background-color: #F44336
// .box2
// 	background-color: #E91E63
// .box3
// 	background-color: #9C27B0
// .box4
// 	background-color: #673AB7
// .box5
// 	background-color: #3F51B5
// .box6
// 	background-color: #2196F3
// .box7
// 	background-color: #03A9F4
// .box8
// 	background-color: #00BCD4
// .box9
// 	background-color: #009688
// .box10
// 	background-color: #4CAF50


.split-container
	-webkit-box-orient: horizontal
	-webkit-box-direction: normal
	-webkit-flex-direction: row
	-ms-flex-direction: row
	flex-direction: row
	display: -webkit-box
	display: -webkit-flex
	display: -ms-flexbox
	display: flex

.split-item
	-webkit-box-pack: center
	-webkit-justify-content: center
	-ms-flex-pack: center
	justify-content: center
	display: -webkit-box
	display: -webkit-flex
	display: -ms-flexbox
	display: flex
	-webkit-box-orient: vertical
	-webkit-box-direction: normal
	-webkit-flex-direction: column
	-ms-flex-direction: column
	flex-direction: column
	-webkit-box-align: center
	-webkit-align-items: center
	-ms-flex-align: center
	align-items: center
	width: 50%
	padding: 3em 5em 6em 5em

.split-right
	-webkit-box-ordinal-group: 0
	-webkit-order: -1
	-ms-flex-order: -1
	order: -1
	color: #7b5a9e
	background-color: $orange

.split-left
	background-color: $purple
	color: #fff

.split-image img
	border: 5px solid rgba(0,0,0,0.2)
	width: 100%
	height: auto
	margin: 2em auto
	border-radius: 50%
	max-width: 100px
	display: block

.split-item h3
	text-align: center
	margin: 0 0 2em 0
	font-weight: 700

.split-item p
	text-align: center
	margin: 0 auto
	max-width: 500px
	line-height: 1.5

.split-item a
	color: $purple
	display: block
	text-align: center
	margin: 1em 0 0 0
	width: 100%


