				form
					br
					h2 Perfomance Fueled By Reflection
					br
					h4 Turn Yours On!
					br
					input(id='tag-name', type='text', placeholder='Tag Name')
					//- input(id='name', type='text', placeholder='Name')
					//- input(id='email', type='text', placeholder='Email')
					button(type="submit" name="action") Submit
				br
				br
				form
					ul.flex-outer
						li
							label(for='first-name') First Name
							input#first-name(type='text', placeholder='Enter your first name here')
						li
							label(for='last-name') Last Name
							input#last-name(type='text', placeholder='Enter your last name here')
						li
							label(for='email') Email
							input#email(type='email', placeholder='Enter your email here')
						li
							label(for='phone') Phone
							input#phone(type="tel", placeholder='Enter your phone here')
						li
							label(for='message') Message
							textarea#message(rows='6', placeholder='Enter your message here')
						li
							p Age
							ul.flex-inner
						li
							button(type='submit') Submit

			div.ui.right.labeled.input
				input.x(type="text" placeholder="Enter Your Login Tag")
				div.ui.basic.label @swimspy


			.ui.form
			.field
				input(type='text', placeholder='Invitation code')
			button.ui.right.labeled.icon.button(type="submit" name="action")
				i.right.arrow.icon
				| Next
		br

	.ui.segments
		.ui.segment
			.ui.fluid.action.input
				input#inv-code(type='text', placeholder='Enter your beta invitation code', method="post", action="landing")
				.ui.button
					a(href="landing") Next
