
		form
			input(id='tag-name', type='text', placeholder='Tag Name')
			//- label(for='tag-name') Tag Name
			input(id='name', type='text', placeholder='Name')
			input(id='email', type='text', placeholder='Email')
			//- label(for='email') Email
			button(type="submit" name="action") Submit