html
	head
		link(rel='stylesheet', href='/css/main.css')
	body
		header.container
			a(href="/") Swimspy
		.wrapper
			h1 Help file
			.panel0
				h3 Article 1
				p.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				h3 Article 2
				p.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			.panel1
				p Duis aute irure dolor!
			.panel2
				h3 Article 3
				p.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.panel3
				h3 Article 4
				p.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.panel4
				form
					ul
						li
							input#first-name(type='text', placeholder='Enter your first name here')
						li
							input#last-name(type='text', placeholder='Enter your last name here')
						li
							input#email(type='email', placeholder='Enter your email here')
						li
							input#phone(type="tel", placeholder='Enter your phone here')
						li
							textarea#message(rows='6', placeholder='Enter your message here')
						li
							button(type='submit' action='/user') Submit

		.footer-nav-container
			.footer-nav HOLA, MI ESTA FOOTER!




