extends layout

block content
	h1= message
	p 
	i.fa.fa-hand-peace-o.fa-3x  
	p Version "#{version}", by #{author}
	p 
		| Link to 
		a(href="landing") landing
		|  page { work in progress }
	p 
		| Link to 
		a(href="user") user
		|  page { work in progress }
	p
		|Link to 
		a(href="invite") invite
		|  page { work in progress }
	br
	br
	p.
		 Contact email: ai@swimspy.us
