extends layout-index
block content
	h1=message
	i.hand.peace.icon
	p Version "#{version}", by #{author}
	p
		| Link to
		a(href="landing")  landing
		|  page
	p
		| Link to
		a(href="user")  user
		|  page
	p
		|Link to
		a(href="invite")  invite
		|   page
	p
		| Link to
		a(href="landing")  landing
		|  page

	br
	br
	p Contact email: ai@swimspy.us
