html
	head
		link(rel='stylesheet', href='/css/landing.css')
	body
		.nav
			a(href="/") Swimspy
			ul
				li
					a(href='sass.html') Stories
				li
					a(href='badges.html') Start Today
				li
					a(href='collapsible.html') Connect
		br
		p Perfomance Is fueled By Reflection
		br
		h6 Turn Yours On!
		br
		form
			input(id='tag-name', type='text', placeholder='Tag Name')
			//- label(for='tag-name') Tag Name
			input(id='name', type='text', placeholder='Name')
			input(id='email', type='text', placeholder='Email')
			//- label(for='email') Email
			button(type="submit" name="action") Submit
		br
		br
		.side-image
			.images-wrapper
				.side-image-content
					h4 Topic Name
					h1 Message with a gradient image
					p. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.
