doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width')
		title= title
		block css
			link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans' type='text/css')
			link(rel='stylesheet', href='/css/user.css')
		block js

			if ENV_DEVELOPMENT
	body
		block content