html
	head
		link(rel='stylesheet', href='/css/landing.css')
	body
		.nav
			a(href="/") Swimspy

		br
		h2 Perfomance Fueled By Reflection
		br
		h4 Turn Yours On!
		br
		form
			input(id='tag-name', type='text', placeholder='Tag Name')
			//- input(id='name', type='text', placeholder='Name')
			//- input(id='email', type='text', placeholder='Email')
			button(type="submit" name="action") Submit
		br
		br
