html
	head
		script(src="https://use.fontawesome.com/0c40da25e8.js")
		link(rel='stylesheet', href='/css/user.css')
	body
		.wrapper
			a.logotype(href="/") SWIMSPY
			//- i.fa.fa-hand-peace-o.fa-3x
			//- h6 performance starts here!
