html
	head
		link(rel='stylesheet', href='/css/style.css')
	body
		nav
			a(href="/") Swimspy
			ul
				li
					a(href='sass.html') Stories
				li
					a(href='badges.html') Start Today
				li
					a(href='collapsible.html') Connect
		br
		br
		h2 User



