extends layout-user
block content
	header.container
		h2 Hola Header

	section.container
		h1 Hola Section One
		a.button la la la

	section.container
		h1 Hola Section Two
		a.button lu lu lu

	footer.container
		h2 Hola Footer