html
	head
		script(src="https://use.fontawesome.com/0c40da25e8.js")
		link(rel='stylesheet', href='/css/user.css')
	body
		.wrapper
			.flex-nav
				a.sw(href="/") Swimspy
				ul
					li
						a(href="#") Item 01
					li
						a(href="#") Item 02
					li
						a(href="#") Item 03
					li
						a(href="#") Item 04
					li
						a(href="#") Item 05
					li
						a(href="#") Item 06
					li
						a(href="#") Item 07
					li.social
						a(href="#").i.fa.fa-facebook
					li.social
						a(href="#").i.fa.fa-google

				form
					br
					h2 Perfomance Fueled By Reflection
					br
					h4 Turn Yours On!
					br
					input(id='tag-name', type='text', placeholder='Tag Name')
					//- input(id='name', type='text', placeholder='Name')
					//- input(id='email', type='text', placeholder='Email')
					button(type="submit" name="action") Submit
				br
				br
				form
					ul.flex-outer
						li
							label(for='first-name') First Name
							input#first-name(type='text', placeholder='Enter your first name here')
						li
							label(for='last-name') Last Name
							input#last-name(type='text', placeholder='Enter your last name here')
						li
							label(for='email') Email
							input#email(type='email', placeholder='Enter your email here')
						li
							label(for='phone') Phone
							input#phone(type="tel", placeholder='Enter your phone here')
						li
							label(for='message') Message
							textarea#message(rows='6', placeholder='Enter your message here')
						li
							p Age
							ul.flex-inner
						li
							button(type='submit') Submit
