html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

form {
  margin-bottom: 20px; }
  form ul {
    list-style: none; }

label {
  font-weight: bolder; }

input[type="text"],
input[type="email"],
input[type="tel"] {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  height: 40px; }

input[message],
textarea[message] {
  rows: 30;
  cols: 50;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  font-size: 16px;
  -webkit-appearance: none; }
  input[message]:focus,
  textarea[message]:focus {
    outline: none; }

input.needsfilled {
  border-color: #FF851B !important;
  color: #FF851B !important; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
  .button:hover, .button:active, .button:focus,
  button:hover,
  button:active,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:active,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }

.footer-nav-container {
  position: relative;
  top: 0;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #111;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #ddd; }

.footer-nav {
  height: 94px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center; }
  .footer-nav a {
    margin: 0 10px;
    position: relative;
    top: 34px; }
    .footer-nav a:hover, .footer-nav a.active {
      top: 14px; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.navbar {
  display: flex;
  background: #FFC0CB;
  height: 50px;
  border: solid;
  border-radius: 5px;
  border-color: #FF69B4; }

.panel0 {
  display: flex;
  padding: 10px;
  margin: 10px;
  align-self: center;
  background-color: #FF4136;
  background-image: -webkit-linear-gradient(bottom, #FF4136, #FFDC00);
  background-image: linear-gradient(to top,#FF4136, #FFDC00);
  height: 400px;
  border-radius: 5px;
  justify-content: center;
  align-content: center;
  font-size: 0.75rem; }

.panel1 {
  display: flex;
  padding: 10px;
  margin: 10px;
  align-self: center;
  background: #F012BE;
  height: 200px;
  border-radius: 5px;
  justify-content: center;
  align-content: center;
  font-size: 2rem; }

.panel2 {
  display: flex;
  padding: 10px;
  margin: 10px;
  align-self: center;
  background-color: #87CEEB;
  background-image: -webkit-linear-gradient(bottom, #87CEEB, #1CB7BB);
  background-image: linear-gradient(to top,#87CEEB, #1CB7BB);
  height: 200px;
  border-radius: 5px;
  justify-content: center;
  align-content: center;
  font-size: 1rem; }

.panel3 {
  display: flex;
  padding: 10px;
  margin: 10px;
  align-self: center;
  background: #88E7E3;
  height: 300px;
  border-radius: 5px;
  justify-content: center;
  align-content: center;
  font-size: 1rem; }

.panel4 {
  display: flex;
  padding: 10px;
  margin: 10px;
  background: #01FF70;
  height: 500px;
  border-radius: 5px; }
