body {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: #FF851B;
  color: #fff;
  padding: 10px 0; }

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px;
  background: #0074D9; }

.container * {
  box-sizing: border-box; }

/* start flexing */
.flex-outer li, .flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px;
  background: #0074D9; }

.flex-outer > li > label, .flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px; }
.flex-outer > li > label + * {
  flex: 1 0 220px; }

.flex-inner {
  flex: 1 0 220px; }

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  border-radius: 2px; }

.flex-inner {
  justify-content: space-between; }
  .flex-inner li {
    width: 100px; }
